:root {
  --color-bg: #121531;
  --color-bg-secondary: #202447;
  --color-primary: #049c50;
  --color-primary-hover: #038644;
  --color-text: #fff;
  --color-text-disabled: #ccc;
  --color-disabled: #1a1c3b;
  --color-overlay: rgba(0, 0, 0, 0.9);
  --color-overlay-secondary: rgba(0, 0, 0, 0.2);

  --color-card-default: #7c7e9e;
  --color-card-red: #ff5e5e;
  --color-card-green: #7afe7a;
  --color-card-blue: #30acff;
  --color-card-yellow: #ffff80;
  --color-card-white: #ecebeb;
  --color-card-multicolor: #e274fa;
  --color-card-colorless: #7c7e9e;
}

body {
  font-size: 18px;
  background-color: var(--color-bg);
  color: var(--color-text);
  font-family: "Nunito", sans-serif;
}

.loading,
.disconnected {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  font-size: 2rem;
  font-weight: bold;

  div {
    margin-top: 1rem;
    width: 3rem;
    height: 3rem;
    border: 0.3rem solid var(--color-text);
    border-bottom-color: transparent;
    border-radius: 50%;
    display: inline-block;
    box-sizing: border-box;
    animation: rotation 1s linear infinite;
  }
}

@keyframes rotation {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.room,
.setup {
  border-radius: 1rem;
  position: absolute;
  overflow: hidden;
  top: 50%;
  left: 50%;
  min-width: 500px;
  transform: translate(-50%, -50%);
  background-color: var(--color-bg-secondary);
  text-align: center;

  header {
    padding: 1rem;
    background-color: var(--color-overlay-secondary);
    display: flex;
    flex-direction: column;
    gap: 1rem;
    align-items: center;
    justify-content: space-between;
  }

  h4 {
    margin-bottom: 0.65rem;
    font-size: 1.2rem;
    text-align: left;
  }

  section {
    padding: 1rem;

    ul {
      list-style: none;
      text-align: left;
      margin: 0 auto;
      width: max-content;
      padding-left: 0;
      width: 100%;

      li {
        padding: 0.5rem 0;
        display: flex;
        align-items: center;
        justify-content: space-between;
        gap: 0.5rem;
        font-size: 1.2rem;
        height: 3.5rem;

        .player-name {
          display: flex;
          gap: 0.5rem;
        }
      }
    }

    footer {
      margin-top: 1rem;

      button {
        width: 100%;
      }

      .share-button {
        margin-top: 0.75rem;
        background: none;
        border: none;
        color: var(--color-text);
        font-size: 1.1rem;
        padding: 0;
        font-weight: normal;

        &:enabled {
          cursor: pointer;

          &:hover {
            background: none;
            color: var(--color-text-disabled);
          }
        }

        &:disabled {
          background: none;
          color: var(--color-text-disabled);
          cursor: not-allowed;
        }
      }
    }
  }
}

.game {
  padding: 2rem;

  ul {
    list-style: none;
    padding-left: 0;
  }
}

.players > ul {
  display: flex;
  width: max-content;
  gap: 1rem;
  margin: 0 auto;
}

.player {
  background-color: var(--color-bg-secondary);
  border-radius: 0.5rem;
  padding: 1rem;

  h3 {
    margin-bottom: 1rem;
    text-align: center;
    font-size: 1.3rem;
  }

  &[data-current] {
    outline: 0.2rem solid var(--color-text);
  }
}

.hand {
  display: flex;
  gap: 0.5rem;
  position: relative;
  margin: 0 auto;
  width: max-content;

  .options {
    z-index: 2000;
    bottom: 0;
    padding-top: 1rem;
    transform: translateY(100%);
    position: absolute;
    overflow: hidden;
    display: none;
    width: max-content;

    &:hover {
      display: block;
    }

    & > li {
      overflow: hidden;

      &:first-child {
        border-top-right-radius: 0.5rem;
        border-top-left-radius: 0.5rem;
      }

      &:last-child {
        border-bottom-right-radius: 0.5rem;
        border-bottom-left-radius: 0.5rem;
      }
    }

    &[data-anchor-top] {
      top: 0;
      bottom: unset;
      transform: translateY(-100%);
      padding-bottom: 1rem;
      padding-top: 0;
    }

    button {
      padding: 0.5rem 1rem;
      background: none;
      border: none;
      background-color: var(--color-bg-secondary);
      color: var(--color-text);
      font-weight: bold;
      width: 100%;
      text-align: left;

      &:enabled:hover {
        cursor: pointer;
        background-color: var(--color-primary);
      }

      &:disabled {
        background-color: var(--color-disabled);
        color: var(--color-text-disabled);
        cursor: not-allowed;
      }
    }
  }
}

.me {
  position: absolute;
  bottom: 2rem;
  left: 50%;
  transform: translateX(-50%);
}

.board-container {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  height: 12rem;

  display: flex;
  align-items: center;
  gap: 1rem;
}

.board,
.discard {
  background-color: var(--color-bg-secondary);
  border-radius: 0.5rem;
  padding: 1rem;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  align-items: center;
  justify-content: space-between;
  align-self: stretch;

  ul {
    display: flex;
    gap: 0.5rem;
  }
}

.info {
  display: flex;
  gap: 2rem;
  background-color: var(--color-bg);
  padding: 0.5rem 1rem;
  border-radius: 0.5rem;
  font-size: 1.5rem;
  font-weight: bold;

  span {
    white-space: nowrap;
  }
}

.card {
  --color: var(--color-card-default);
  position: relative;
  aspect-ratio: 2 / 3;
  width: 3.5rem;
  background-color: var(--color-bg-secondary);
  border-radius: 0.5rem;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 2rem;
  font-weight: bold;
  color: var(--color);
  border: 0.2rem solid var(--color);

  .tip {
    display: flex;
    gap: 0.25rem;
    font-size: 0.65rem;
    top: 0.25rem;
    right: 0.25rem;
    position: absolute;
  }

  &:enabled:hover {
    cursor: pointer;
    opacity: 0.5;

    & + .options {
      display: block;
    }
  }

  &:disabled + .options {
    display: none !important;
  }

  &[data-color="red"] {
    --color: var(--color-card-red);
  }

  &[data-color="green"] {
    --color: var(--color-card-green);
  }

  &[data-color="blue"] {
    --color: var(--color-card-blue);
  }

  &[data-color="yellow"] {
    --color: var(--color-card-yellow);
  }

  &[data-color="white"] {
    --color: var(--color-card-white);
  }

  &[data-color="colorless"] {
    --color: var(--color-card-colorless);
  }

  &[data-color="multicolor"] {
    --color: var(--color-card-multicolor);
  }
}

.paused {
  position: fixed;
  inset: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--color-overlay);
  font-size: 2rem;
  font-weight: bold;
  color: var(--color-text);
  text-align: center;
  z-index: 1000;
}

.discard-modal {
  background-color: var(--color-overlay);
  position: fixed;
  inset: 0;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  align-items: center;
  justify-content: center;
  z-index: 1000;

  h2 {
    font-size: 2rem;
    font-weight: bold;
    color: var(--color-text);
  }

  & > ul {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    max-width: 80%;
  }

  ul ul {
    display: flex;
    gap: 0.5rem;
    flex-wrap: wrap;
    margin: 0 auto;

    div {
      position: relative;

      span {
        z-index: 1000;
        font-size: 1rem;
        top: 0.45rem;
        right: 0.15rem;
        position: absolute;
      }
    }
  }
}

.game-over {
  background-color: var(--color-overlay);
  position: fixed;
  inset: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  z-index: 1000;

  ul {
    margin-top: 1rem;
    display: flex;
    list-style: none;
    padding: 0;
    gap: 0.5rem;
  }

  &:has(span:hover) {
    opacity: 0;
  }

  span {
    padding: 0.5rem 1rem;
    cursor: default;
    color: var(--color-text-disabled);
  }

  & > button {
    background: transparent;
    border: none;
    padding: 1rem;
    color: var(--color-text);
    font-size: 1.1rem;

    &:enabled:hover {
      cursor: pointer;
      color: var(--color-text-disabled);
    }
  }
}

.room footer button,
.game-over > footer button,
.setup button {
  margin-top: 1rem;
  padding: 0.5rem 1rem;
  border: none;
  border-radius: 0.5rem;
  color: var(--color-text);
  background-color: var(--color-primary);
  font-weight: bold;
  font-size: 1.2rem;

  &:enabled:hover {
    cursor: pointer;
    background-color: var(--color-primary-hover);
  }

  &:disabled {
    background-color: var(--color-disabled);
    color: var(--color-text-disabled);
    cursor: not-allowed;
  }
}

.disconnect-button,
.player-actions button,
.logs-button {
  position: absolute;
  top: 1rem;
  right: 1rem;
  font-weight: bold;
  color: var(--color-text);
  background-color: var(--color-bg-secondary);
  border: none;
  border-radius: 0.5rem;
  padding: 0.5rem 1rem;
  cursor: pointer;
  transition: background-color 0.2s ease;
  z-index: 2000;

  &:hover {
    opacity: 0.7;
  }
}

.player-actions {
  display: flex;
  gap: 0.5rem;
}

.player-actions button {
  position: relative;
  top: unset;
  right: unset;
  background-color: var(--color-overlay-secondary);
}

.setup {
  section {
    padding: 1rem;
  }

  p {
    margin-bottom: 1rem;
    font-size: 1.2rem;
  }

  button {
    width: 100%;
  }

  input {
    width: 100%;
    background: none;
    border: none;
    background-color: var(--color-bg);
    color: var(--color-text);
    border-radius: 0.5rem;
    padding: 0.5rem 1rem;
    font-size: 1.2rem;

    &::placeholder {
      color: var(--color-text-disabled);
    }
  }
}

.logs {
  position: absolute;
  bottom: 3rem;
  right: 1rem;
  font-size: 1.2rem;

  display: none;
  padding-bottom: 2rem;
  z-index: 2000;

  &:hover {
    display: block;
  }

  div {
    max-width: 25rem;
    max-height: 25rem;
    opacity: 0.9;
    overflow-y: auto;
    background-color: var(--color-bg-secondary);
    border-radius: 0.5rem;

    &::-webkit-scrollbar {
      width: 0.5rem;
    }
    &::-webkit-scrollbar-thumb {
      background-color: rgba(255, 255, 255, 0.3);
      border-radius: 0.5rem;
    }
    &::-webkit-scrollbar-track {
      background-color: var(--color-bg);
    }

    label {
      position: sticky;
      top: 0;
      padding: 1rem;
      background-color: inherit;
      display: flex;
      align-items: center;
      gap: 0.5rem;
      cursor: pointer;
      font-weight: bold;

      &:hover {
        color: var(--color-text-disabled);
      }

      input {
        accent-color: var(--color-primary);
        height: 1rem;
        width: 1rem;
      }
    }

    ul {
      padding: 0 1rem 1rem 1rem;
      list-style: none;
      display: flex;
      flex-direction: column;
      gap: 0.75rem;

      time {
        font-weight: bold;
      }
    }
  }
}

.logs-button {
  bottom: 1rem;
  top: unset;

  &:hover + .logs {
    display: block;
  }
}

.watch-mode {
  position: fixed;
  bottom: 1rem;
  left: 1rem;
  opacity: 0.7;
  z-index: 2000;
  font-size: 1.2rem;
}

@media (max-width: 800px) {
  body {
    zoom: 0.8;
    overflow: hidden;
  }

  .card {
    font-size: 1.7rem;
    width: 3rem;
  }

  .discard {
    position: fixed;
    bottom: 1rem;
    right: 1rem;
    padding: 0;

    ul,
    i {
      display: none;
    }
  }

  .game {
    padding: 0;
  }

  .players {
    padding: 1rem;
    padding-top: 5rem;
    width: 100%;
    overflow-x: auto;
  }

  .hand .options {
    top: 0;
    bottom: unset;
    transform: translateY(-100%);
    padding-bottom: 1rem;
    padding-top: 0;
  }

  .board-container {
    left: 1rem;
    right: 1rem;
    height: auto;
    transform: translateY(-50%);
    margin: 0 auto;
    width: max-content;
  }

  .board {
    width: 100%;
    padding-bottom: 5rem;

    ul {
      flex-wrap: wrap;
      justify-content: center;
    }
  }

  .info {
    font-size: 1.5rem;
    gap: 1rem;
    flex-wrap: wrap;
    justify-content: center;
  }

  .logs {
    top: 3rem;
    padding-top: 2rem;
    padding-bottom: 0;
    bottom: unset;
    left: 1rem;
    right: 1rem;
    padding-bottom: 0;

    div {
      max-width: unset;
    }
  }

  .logs-button {
    top: 1rem;
    left: 1rem;
    right: unset;
    bottom: unset;
  }

  .room,
  .setup {
    left: 1rem;
    right: 1rem;
    transform: translateY(-50%);
    min-width: unset;
  }

  .loading {
    font-size: 1.5rem;
    width: 100%;
  }

  .discard-modal ul {
    width: 100%;
  }
}

.expansions,
.settings {
  width: 100%;
  text-align: left;
  margin-bottom: 1.5rem;
  border-bottom: 1px solid var(--color-overlay-secondary);
  padding-bottom: 1.5rem;

  div {
    display: flex;
    flex-wrap: wrap;
    gap: 0.5rem 1rem;
  }

  button {
    text-align: left;
    color: var(--color-text);
    font-weight: bold;
    display: flex;
    align-items: center;
    gap: 0.5rem;
    border: none;
    padding: none;
    background: none;
    background-color: var(--color-overlay-secondary);
    padding: 0.5rem 1rem;
    border-radius: 0.5rem;

    &:enabled {
      cursor: pointer;

      &:hover {
        opacity: 0.7;
      }
    }

    &:disabled {
      cursor: not-allowed;
      background-color: transparent;
      padding-left: 0;
    }
  }
}
